<template>
  <div class="buttonComponent">
    <div class="buttonWrapper">
      <label for="Generate" class="buttonLabel">{{msgLabel}}</label>
      <md-button id="Generate" @click="showCurse = !showCurse" class="generateButton md-primary">{{msgButton}}</md-button>
    </div>
    <Curse v-if="showCurse"></Curse>
  </div>
</template>


<script>
import Curse from "./Curse";

export default {
  name: "Button",
  components: {
    Curse
  },
  props: {
    msgButton: String,
    msgLabel: String
  },
  data: function() {
    return {
      showCurse: false
    };
  }
};
</script>

<style lang="css" scoped>
.buttonWrapper {
  display: flex;
  flex-wrap: wrap;
}

.buttonLabel {
  width: 100%;
}

.generateButton {
  margin: 15px auto 0;
}

.generated-curse {
  margin: 25px auto 0;
}
</style>
