<template>
  <md-content class="contentWrapper">
    <h2 class="content-title">Content Component</h2>
    <md-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea magnam quod perspiciatis illo dignissimos accusamus impedit animi, autem soluta ipsa adipisci atque cum amet? Accusamus reiciendis commodi sequi error fugiat?</md-content>
    <md-tabs md-sync-route  md-alignment="centered" v-on:md-changed="changedTab" class="menu-tabs">
      <md-tab id="RandomSaint" md-label="Random Saint Card" to="/components/RandomSaint"></md-tab>
      <md-tab id="Special" md-label="Special Card" to="/components/Special"></md-tab>
    </md-tabs>
  </md-content>
</template>

<script>
export default {
  name: "Content",
  methods: {
    changedTab: function(value) {
      this.$emit("checkedOption", value);
    }
  }
};
</script>

<style lang="css" scoped>
.contentWrapper {
  padding: 10px 0;
}

.content-title {
  margin-top: 0;
  text-align: center;
}

.menu-tabs {
  margin-top: 20px;
}
</style>
