<template>
  <h3 class="generated-curse">this is the curse {{generateCurse}}</h3>
</template>

<script>
import config from "@/config/firebase-config"
import firebase from "firebase/app";
import "firebase/database";

firebase.initializeApp(config);

export default {
  name: "Curse",
  data: function() {
    return {
      curse: ""
    };
  },
  computed: {
    generateCurse: function() {
      return this.curse = databaseSaint;
    }
  }
};
</script>
