<template>
  <md-content class="footerWrapper">
    <md-avatar>
      <img src="../assets/avatar.jpeg" alt="Avatar">
    </md-avatar>
    Made by <a href="https://github.com/Fil923">Fil923</a>
  </md-content>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style lang="css" scoped>
.footerWrapper {
  min-height: 40px;
}
</style>
