<template>
  <div class="cardWrapper">
    <md-card>
      <md-card-header>
        <div class="md-title">Random</div>
        <div class="md-subhead">Random Card</div>
      </md-card-header>
      <md-card-content>
        <h2>Generate Random</h2>
        <Button  msgButton="Premi" msgLabel="Generatore Casuale"/>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>
import Button from "./Button.vue";

export default {
  name: "RandomSaint",
  components: {
    Button
  }
};
</script>

<style lang="css" scoped>
.cardWrapper {
  padding: 10px;
}
</style>
