<template>
  <div class="cardWrapper">
    <md-card>
      <md-card-header>
        <div class="md-title">Special</div>
        <div class="md-subhead">Special Card</div>
      </md-card-header>
      <md-card-content>
        <h2>Generate Special</h2>
        <Button  msgButton="Premi" msgLabel="Generatore Special" v-bind:contentFromfather="contentFromfather"/>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>
import Button from "./Button.vue";

export default {
  name: "Special",
  props: {
    content: Object
  },
  data: function() {
    return {
      contentFromfather: this.content
    }
  },
  components: {
    Button
  }
};
</script>
