<template>
  <md-card id="app">
    <md-card-header>
      <md-icon>home</md-icon>
      <h1 class="app-title">This is a Title</h1>
    </md-card-header>
    <md-card-content>
      <Content v-on:checkedOption="getChecked" />
      <transition name="fade" mode="out-in">
          <component v-bind:is="currentTabComponent" class="tab"></component>
      </transition>
    </md-card-content>
    <Footer />
  </md-card>
</template>

<script>
import "normalize.css";
// COMPONENTS
import Content from "./components/Content.vue";
import RandomSaint from "./components/RandomSaint.vue";
import Special from "./components/Special.vue";
import Footer from "./components/Footer.vue";

export default {
  name: "app",
  components: {
    Content,
    RandomSaint,
    Special,
    Footer
  },
  data: () => {
    return {
      currentTab: "",
      tabs: ["RandomSaint", "Special"]
    };
  },
  methods: {
    getChecked: function(value) {
      this.currentTab = value;
    }
  },
  computed: {
    currentTabComponent: function() {
      return this.currentTab;
    }
  }
};
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.app-title {
  margin-bottom: 0;
}
</style>
